<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <!--1 columna-->
        <div class="col-lg-3 col-md-6 footer-contact">
          <br>
          <h3>IKOMI PERU</h3>
          <p>
            Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de
            mercado.
          </p>

          <br>

          <div class="social-links text-center text-md-end pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/ikomi.peru?locale=es_LA" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/ikomi.peru?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/ikomi-peru/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <!--4 columna-->
        <div class="col-lg-7">
          <div class="row">
            <div data-aos="fade-right" class="col-md-12">
              <div class="info-box">
                <i class="fa fa-map-marker"></i>
                <h3>Dirección</h3>
                <p>Avenida Nicolás Ayllon 3384 <br> Carretera Central - Paradero Rayovac <br> Lima - Ate</p>
              </div>
            </div>
            <div data-aos="zoom-in" class="col-md-6">
              <div class="info-box mt-4">
                <i class="fa fa-envelope"></i>
                <h3>Correo</h3>
                <p>ventasikomiperu.com <br> ventasikomiperu.com</p>
              </div>
            </div>
            <div data-aos="zoom-in" class="col-md-6">
              <div class="info-box mt-4">
                <i class="fa fa-phone"></i>
                <h3>Teléfonos</h3>
                <p>985 068 416 <br> 981 453 306</p>
              </div>
            </div>
          </div>
        </div>

        <!--2 columna-->
        <div class="col-lg-2 col-md-6 footer-links">
          <br>
          <h4>Links</h4>
          <br>
          <ul>
            <li><i class="fa fa-home"></i> <a class="nav-link scrollto active" href="#hero"> Inicio</a></li>
            <li><i class="fa fa-building"></i> <a class="nav-link scrollto" href="#about">Nosotros</a></li>
            <li><i class="fa fa-briefcase"></i> <a class="nav-link scrollto" href="#services">Servicios</a></li>
            <li><i class="fa fa-cogs"></i> <a class="nav-link scrollto" href="#portfolio">Producto</a></li>
            <li><i class="fa fa-users"></i> <a class="nav-link scrollto" href="#team">Equipo</a></li>
            <li><i class="fa fa-envelope"></i> <a class="nav-link scrollto" href="#contact">Contáctenos</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="credits">
        Copyright © 2024 <a href="#">Grupo IKOMI PERU</a>
      </div>
    </div>
  </div>

</footer><!-- End Footer -->
