<div class="nosotros">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Equipo</div>
            <div class="card-body">
              <img src="/images/equipo.jpg" alt="Equipo" class="card-img">
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Almacén</div>
            <div class="card-body">
              <img src="/images/bodega.jpg" alt="Almacén" class="card-img">
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Tienda</div>
            <div class="card-body">
              <img src="/images/entrada.jpg" alt="Tienda" class="card-img">
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Empresa</div>
            <div class="card-body">
              <img src="/images/empresa.jpg" alt="Empresa" class="card-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
